{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device=width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css'%}">
    {% bootstrap_javascript jquery='slim' %}
</head>
<header class="mb-4">
    <h1 class="display-1 text-center">Объявления</h1>
</header>
<div class="row">
    <ul class="col nav justify-content-end border">
        <li class="nav-item"><a class="nav-link" href="#">Регистрация</a></li>
        <li class=" nav- item dropdown ">
            <a class="nav-link dropdown-toggle"
               data-toggle=" dropdown"
               href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Пpoфиль </a>
            <div class="dropdown-menu">
                <а class="dropdown-item" href="#">Moи
                    объявления
                </а>
                <а class="dropdown-item" hrеf="#">Изменить личные
                    данные
                </а>
                <а class="dropdown-item" hrеf="#">Изменить
                    пароль
                </а>
                <div class=" dropdown-divide r "></div>
                <а class="dropdown-item" hrеf="#">Выйти</а>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Удалить</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Вход</a></li>
    </ul>
</div>
<div class="row">
    <nav class="col-md-auto nav flex-column border">
        <a class="nav-link root" href="{% url 'main:index' %}">Главная</a>
        <span class="nav-link root font-weight-bold">Недвижимость</span>
        <a class="nav-link" href="#">Жилье</a>
        <a class="nav-link" href="#">Склады</a>
        <a class="nav-link" href="#">Гаражи</a>
        <span class="nav-link root font-weight-bold" href="#">Транспорт</span>
        <a class="nav-link" href="#">Легковой</a>
        <a class="nav-link" href="#">Грузовой</a>
    </nav>
    <section class="col border py-2">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </section>
</div>
<footer class="mt-3">
    <p class="text-right font-italic">&copy; читатели</p>
</footer>
</body>


</html>